<!DOCTYPE html>
<html>
<head>
    <title>Self Help Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Self Help Blog</h1>
    <h2>Articles</h2>
    <!-- Articles and affiliate links will be displayed here -->

    <!-- Example Affiliate Marketing Link -->
    <!-- <a href="http://www.example.com/affiliate-link" target="_blank">Check out this product</a> -->
    
    <!-- Google AdSense -->
    <script data-ad-client="pub-7008895255887029" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>